<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host</title>

</head>
<body>
    <!-- 新增按钮，点击弹出表单 -->
    <div>
        <input  onclick="add()" type="button" id="edit" value="+ 新增Host" style="width: 100px;height: 40px;border: 0px;border-radius: 5px;background-color: #0271CD;color: white;">
    </div>
    {# --------------------------------host列表------------------------------- #}
    <table  width="70%" cellspacing="5">
        <tr>
        	<td>名称</td>
        	<td>Host</td>
        	<td>描述</td>
        	<td>操作</td>
        </tr>
        {# 获取host列表 #}
        <div>
            {% for k,v in hostlist.items %}
                <tr>
                    <td>{{ v.0 }}</td>
                    <td>{{ v.1 }}</td>
                    <td>{{ v.2 }}</td>
                    <td>
                        <!-- 编辑按钮，点击弹出表单 -->
                         <input  onclick="del('{{ k }}', '{{ v.0 }}', '{{ v.1 }}', '{{ v.2 }}')" type="button" id="edit" value="编辑" style="width: 70px;height: 30px;border: 0px;border-radius: 5px;">
                        <!-- 删除按钮 -->
                         <input  onclick="http_delete({{ k }})" type="button" value="删除" style="width: 70px;height: 30px;border: 0px;border-radius: 5px;background-color: red;color: white;">
                    </td>
                </tr>

            {% endfor %}
        </div>
    </table>

    <!-- host弹窗表单 -->
    <div id="delete" style="border: 1px solid;width: 100%;margin: auto;height: 100%;position: fixed;left: 0px;top: 0px;background: rgb(0,0,0,0.6);overflow: auto;text-align: center;display: none;">
        <div style="background: white;width: 250px;height: 150px;margin: auto;margin-top: 50px;border-radius: 5px;">
            <form id="popup_form" name="input"  method="get" action = ''>
                <div style="height: 110px;border-bottom: 1px solid #CCCCCC;">
                    <div id='popup_title' class="title">新增host</div>
                    <!-- 框内内容 -->
{#                    <input type="hidden"  name="ids" ><br> 本来想用hidden隐藏标签的，但是隐藏标签是不生成代码的，故无法修改value值#}
                    <input type="text" name="ids" id="ids" style="display: none">
                    <label>名称：</label>
                        <input type="text"  name="name" id="name"><br>
                    <label>Host：</label>
                        <input type="text"  name="host" id="host"><br>
                    <label>描述：</label>
                        <input type="text"  name="description" id="description"><br>
                </div>
                <div style="height: 39px;">
                    <input  type="submit" name="click" value="保存" style="float: left;width: 49%;height: 39px;border-right: 1px solid #CCCCCC;line-height: 39px;font-size: 1rem;">
                    <input type="button" name="click" value="取消" onclick="delesc()" style="float: right;width: 50%;height: 39px;line-height: 39px;font-size: 1rem">
                </div>
            </form>
        </div>
    </div>
    <!-- 弹窗表单编辑end -->
</body>
</html>


<script type="text/javascript">
    {# 修改表单 #}
    function del(id,name,host,decs){
        {#/* 显示弹窗 */#}
        document.getElementById("delete").style.display="block";
        {# 弹窗标题 #}
        document.getElementById("popup_title").innerText = '修改Host';
        {# 绑定当前弹窗表单里面id值 #}
         document.getElementById("ids").value = id
        {# 自动填充name、host、描述 #}
        document.getElementById("name").value = name
        document.getElementById("host").value = host
        document.getElementById("description").value = decs
        {# 给form表单传个接口地址 #}
        document.getElementById("popup_form").action = 'http://127.0.0.2:8005/project/host/update';

    }
    {# 新增表单 #}
    function add() {
        // init重置表单所有控件为空
        document.getElementById("ids").value = '';
        document.getElementById("name").value = '';
        document.getElementById("host").value = '';
        document.getElementById("description").value = '';

        document.getElementById("delete").style.display="block";
        // 传递接口链接
        document.getElementById("popup_form").action = 'http://127.0.0.2:8005/project/host/insert';
        // 修改表单名字
        document.getElementById("popup_title").innerText = '新增Host';

    }

    function delesc(){
        {#/* 编辑host表单点击取消时隐藏弹窗 */#}
        document.getElementById("delete").style.display="none";
    }

    {# 删除host #}
    function http_delete(id) {
        {#/* 发送请求删除host,判断确认删除框，为false不删除，为true执行删除 */#}
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        } else {
            const Http = new XMLHttpRequest();
            const url = "http://127.0.0.2:8005/project/host/delete?id=" + id;
            Http.open('get', url);
            Http.send();
        }

    }


</script>

